<%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> occured</h2>
        </div>
    <% end %>

  <div class="field">
    <%= f.label :name %>
    <span class="error-message"><%= @order.errors.full_messages_for(:name).to_sentence %></span>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <span class="error-message"><%= @order.errors.full_messages_for(:address).to_sentence %></span>
    <%= f.text_area(:address, rows: 5) %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <span class="error-message"><%= @order.errors.full_messages_for(:email).to_sentence %></span>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :pay_type, 'Pay Type' %>
    <span class="error-message"><%= @order.errors.full_messages_for(:pay_type).to_sentence %></span>
    <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %>
  </div>
  <div class="actions">
    <%= f.submit 'Place Order', class: 'submit click' %>
  </div>
<% end %>
