<div class="col" id="notice"><%= notice %></div>

<div class="col">
  <h1>Your cart</h1>
</div>

<div class="col">
  <table class="cell_border">
    <tr>
      <th>Book</th>
      <th>Unit price</th>
      <th>Quantity</th>
    </tr>
    <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.product.title %></td>
      <td><%= number_to_currency(item.product.price) %></td>
      <td><%= item.quantity %></td>
    </tr>
    <% end %>
  </table>
  <p>Total: <b><%= number_to_currency(@cart.total_price) %></b></p>
  <%= button_to 'Check Out', new_order_path, method: :get, class: 'check_out click' %>
  <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'empty_cart click' %><br>
  <hr>
  <%= link_to 'Continue shopping >>>', root_path %>
</div>
