<div class="col" id="notice"><%= notice %></div>

<div class="col">
  <h1>Your cart</h1>
</div>

<div class="col">
  <table class="cart_detail">
    <tr>
      <th>Book</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    <% total = 0 %>
    <% @cart.line_items.each do |item| %>
        <% total += item.quantity * item.product.price %>
    <tr>
      <td><%= item.product.title %></td>
      <td><%= number_to_currency(item.product.price) %></td>
      <td><%= item.quantity %></td>
    </tr>
    <% end %>
  </table>
  Total: <%= number_to_currency(total) %>
  <%= button_to 'Check Out', '#' %>
</div>
