<div class="col book_title">
  <h2><%= @product.title %></h2>
</div>

<div class="col book_detail">
  <div class="row">
    <div class="col book_image">
      <%= image_tag(@product.image_url) %>
    </div>
    <div class="col book_description">
      <p><%= @product.description %></p>
      <table class="odd_even_row">
        <tr>
          <td>Price</td>
          <td><%= number_to_currency(@product.price) %></td>
        </tr>
        <tr>
          <td>Publisher</td>
          <td>Willey</td>
        </tr>
        <tr>
          <td>Author</td>
          <td>Pawel Cichosz</td>
        </tr>
        <tr>
          <td>ISBN</td>
          <td>97811183332580</td>
        </tr>
        <tr>
          <td>Pages</td>
          <td>720</td>
        </tr>
        <tr>
          <td>Year</td>
          <td>2015</td>
        </tr>
        <tr>
          <td>Language</td>
          <td>English</td>
        </tr>
        <tr>
          <td>File size</td>
          <td>8.5 MB</td>
        </tr>
        <tr>
          <td>File Type</td>
          <td>PDF</td>
        </tr>
        <tr>
          <td><%= link_to 'Download', "#", class: 'download' %></td>
          <td><%= button_to 'Add to Cart', line_items_path(product_id: @product), class: 'click' %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="col">
  <p><%= link_to 'Review this book', new_product_review_path(@product), class: 'review' %></p>
</div>

<div class="col review_list">
  <h2>Customer Reviews</h2>
  <%= render 'reviews/index', product: @product %>
</div>


