<%= form_for([@review.product, @review]) do |f| %>
    <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "error") %> occured</h2>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <span class="error-message"><%= @review.errors.full_messages_for(:title).to_sentence %></span>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <span class="error-message"><%= @review.errors.full_messages_for(:content).to_sentence %></span>
      <%= f.text_area(:content, rows: 15) %>
    </div>
    <div class="field">
      <%= f.label :score, 'Rate' %>
      <span class="error-message"><%= @review.errors.full_messages_for(:score).to_sentence %></span>
      <%= content_tag 'span', '', id: 'vote', data: { score: @review.score } %>
    </div>
    <div class="field" id="vote">
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    var score = $('#vote').data('score')
    $('#vote').raty({
      score: score,
      scoreName: 'review[score]',
      path: '/assets' });
  });
</script>