<div class="col book_filter">
  <h1>Top eBooks</h1>
</div>

<% @products.each do |product| %>
    <div class="col book">
      <div class="row">
        <div class="col image">
          <%= image_tag(product.image_url) %>
        </div>
        <div class="col description">
          <p><%= link_to product.title, product %></p>
          <p><%= truncate(strip_tags(product.description), length: 440) %></p>
          <div>
            <span>Price: <%= number_to_currency(product.price) %></span>
            <%= button_to 'Add to cart', line_items_path(product_id: product), class: 'click' %>
          </div>
        </div>
      </div>
    </div>
<% end %>
