<ul class="topnav">
  <li><%= link_to 'IT eBooks', store_path, class: 'logo' %></li>
  <li><input type="text" placeholder="Search by Title, Author or ISBN"><button class="search click">Search</button></li>
  <ul class="topnav right">
    <li><%= link_to "Your cart ( #{ @current_cart.total_item } )", cart_path(@current_cart) %></li>
    <% if @current_user %>
        <li><%= link_to @current_user.name, @current_user %></li>
        <% if @current_user.is_admin %>
            <li><%= link_to 'Admin', admin_path %></li>
        <% end %>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    <% else %>
        <li><%= link_to 'Login', login_path %></li>
        <li><%= link_to 'Register', new_user_path %></li>
    <% end %>
  </ul>
</ul>